<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <initialize>
        <processor type="Sitecore.Pipelines.Loader.ShowVersion, Sitecore.Kernel">
          <assemblies hint="list:AddAssembly">
            <assembly  hint="391039">/bin/Sitecore.Support.391039.dll</assembly>
          </assemblies>
        </processor>
      </initialize>
    </pipelines>
    <scheduling>
      <agent type="Sitecore.Support.SolrStatusAgent, Sitecore.Support.391039" method="Run" interval="00:01:00" />
    </scheduling>
  </sitecore>
</configuration>